<html>
  <head>
    <title>Level 0</title>
  </head>

  <body>
    <p>Level 0</p>

    <form id="form" action="/" method="post">
      <div>
        <textarea cols="80" rows="20" name="data">---
</textarea>
      </div>

      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
